[2019-03-04 18:33] ESultanik opened #2 "STDOUT and STDERR are merged if STDIN is a TTY"
`solc-select` uses `docker run` to execute `solc` inside a container. Docker has a [known issue](https://github.com/moby/moby/issues/725) in which STDOUT and STDERR are merged if `docker run` is executed with the `-t` argument to create a new TTY. `solc-select` currently passes `-t` to `docker run` _if_ STDIN is a TTY. `solc` does not ever need to execute in a TTY, so we should completely remove t

[2019-03-04 18:44] #2 closed

[2019-03-08 18:57] ESultanik opened #5 "Automatically determine the latest version of `solc` when building the Docker image"

[2019-03-08 19:59] #5 closed

[2019-03-08 20:23] ESultanik opened #6 "Have the Dockerhub image auto-build every time Solidity is updated"
Easiest way is to have our Docker image extend the official Solidity Docker image.

[2019-03-08 20:28] ESultanik opened #7 "Provide a means for listing all available Solidity versions"

[2019-03-08 20:40] #7 closed

[2019-03-08 20:40] #6 closed

[2019-03-21 17:05] ekilmer opened #8 "Temporary directory not included in docker path"
When trying to use solc-select with the automated integration tests for Manticore on Mac, there's an error that `solc` can't reach the working directory because it's in a temporary directory like
[code]

I have patched the `bin/solc` docker invocation to also include:
[code]
which fixes it, but I'm not sure how best to apply this so that Linux hosts don't get an error.

Furthermore, Linux temporar

[2019-03-21 17:24] ESultanik commented on #8
This is a known issue that (1) should have been better documented, and (2) really deserves a better solution. It is caused by the fact that `solc-select` only mounts `$PWD` in the Docker container. I think the ultimate solution would be to instead mount the root directory of the host system to `/host/` in the container, do something like `mount --bind /usr/bin /host/usr/bin`, and then `chroot /hos

[2019-03-21 18:12] ekilmer commented on #8
That does sound like it would solve my issue.

[2019-03-23 15:48] ESultanik opened #9 "Means to self-upgrade directly from the Docker image"

[2019-03-23 15:48] #8 closed

[2019-03-23 17:35] #9 closed

[2019-03-28 14:37] ESultanik opened #10 "Bash warnings if `solc` invoked with no arguments"
Don't use POSIX-style string comparisons, since we're using bash anyway.

[2019-03-28 14:37] #10 closed

[2019-04-19 17:44] prateek-adhikaree opened #12 "chroot: can't execute 'chroot.sh': No such file or directory"
My dev machine is Ubuntu 18.04 and Docker version 18.09.5

I tried to install solc-select from source. The installation went through correctly. But when I tried to check the versions I had the following error:
`$ solc --version`

I uninstalled my solc installation and tried this again but had the same result.

Next, I uninstalled solc-select and ran the docker version. I had to update chmod for so

[2019-04-22 11:21] ESultanik commented on #12
I believe certain host system configurations require the `—priveleged` flag to be added to the Docker call. I will try to reproduce today and add that to the script if it fixes the problem.

[2019-04-22 13:19] ESultanik opened #13 "Mount paths for `dev` and `proc` are swapped"
See [`solc-wrapper`](https://github.com/crytic/solc-select/blob/cabd40ce52f23d08a006df22e049b5b299160410/scripts/solc-wrapper#L5-L6).

[2019-04-22 13:28] #13 closed

[2019-04-26 12:30] sobolev-igor commented on #12
Hi! I have the same problem. Installation finishes with
[code]
And then I can't do anything with `solc`.

[2019-04-26 13:05] ESultanik commented on #12
We're working on a clean solution for this. We did not originally intend `solc-select` to be used on Linux since all of the official binaries are released on Linux. We will likely release a fix to the scripts to fix this problem as a stopgap, but in the long run we will be releasing an install script specifically for Linux that does not require Docker at all.

[2019-04-26 13:39] sobolev-igor commented on #12
OK, thanks! Looking forward for updates on this issue!

[2019-05-17 21:33] svidorozhd opened #15 "/usr/local/bin/solc: Permission denied"
I tried to install solc-select as specified in the "Quickstart" description. When asked to overwrite /usr/local/bin/solc, the error, described in the title, occurs. Using -privileged flag in the Docker call does not solve this problem.

[2019-05-19 17:06] prateek-adhikaree commented on #12
@ESultanik, Any updates on the issue??

[2019-05-24 10:58] KiriKiri commented on #15
The same thing, macOS Mojave 10.14.3

[2019-05-24 13:24] ESultanik commented on #15
I suspect the issue is one of the following:
1. You do not have Homebrew installed;
2. Homebrew is misconfigured; or
3. Your user does not have permission to write to `/usr/local/bin`.

If it's #1, then the easiest solution is to [install Homebrew](https://brew.sh). To diagnose the other possibilities, what is the result of running `ls -lad /usr/local/bin`?

Alternatively, you can always install i

[2019-05-31 14:47] pcowgill commented on #15
I'm having the same issue, and for me the result is:
`drwxrwxr-x  239 paulcowgill  admin  7648 May 22 16:04 /usr/local/bin`

[2019-05-31 15:48] pcowgill opened #16 "Feature request: Support for a "solc use" command like with nvm"

[2019-05-31 17:06] ESultanik commented on #16
Would you expect the setting to be applied as a global default, or would it just persist for the current session?

[2019-05-31 17:38] pcowgill commented on #16
With nvm it’s just for the current session, but definitely open to whichever is easier to implement!

[2019-06-06 21:02] shayanb commented on #15
I have the same issue on 10.14.4.

[2019-06-08 16:06] svidorozhd commented on #15
My result is: admin  3584 17 Mai 23:15 /usr/local/bin

[2019-06-17 13:22] n0thingness commented on #15
After pulling the image, I was having a lot of difficulty getting the `docker run` command working. It seemed to be failing silently. Removing the `-e` at the end of the command resulted in this error: `bash: line 25: /usr/local/bin/solc: Permission denied`.

So I tried installing in a different location:
[code]

This seemed to install solc successfully. But then, running the command `solc --versi

[2019-06-17 14:20] nevillegrech commented on #15
Similar issue here:
[code]
$ solc --help
mount: mounting /usr/bin on /workdir/usr/bin failed: Permission denied
mount: mounting /bin on /workdir/bin failed: Permission denied
mount: mounting /dev on /workdir/dev failed: Permission denied
mount: mounting /proc on /workdir/proc failed: Permission denied
mount: mounting /sys on /workdir/sys failed: Permission denied
chroot: can't execute 'chroot.sh':

[2019-06-18 20:15] nevillegrech opened #17 "Can't seem to remove solc-select"
Tried to install solc-select but it didn't quite work out for me so I'd like to remove it. Prior to installation I had solc installed using snap. I've removed the docker container, however when I try to install solc again using snap `sudo snap install solc` the command seems to be invoking solc-select instead:

[code]

I've also removed all files and folders that match `solc$` on this machine, but

[2019-06-18 20:50] ESultanik commented on #17
`solc-select` does not interact with snap at all. As is being tracked here, https://github.com/crytic/solc-select/issues/12#issuecomment-487049588, `solc-select` support for Linux is still experimental. Thus far, `solc-select` has only been thoroughly tested against the Homebrew package manager.

The error you are receiving is indicative that `solc-select` is still in fact installed, and for some

[2019-06-19 07:25] montyly commented on #12
I pushed an temporary fix for Ubuntu on the branch https://github.com/crytic/solc-select/tree/dev-fix-ubuntu

To install solc-select from it, run:
[code]

[2019-06-19 10:07] sobolev-igor commented on #12
Thanks so much!

Works great on Ubuntu 18.04.2 LTS

[2019-06-19 14:13] montyly opened #18 "solc --upgrade will not work for source installation setup"
`solc --upgrade` is meant to update the list of available solc.

The current script pull the latest version on dockerhub:
https://github.com/crytic/solc-select/blob/c96e3e7a7bdd47738d4e133c0003b6ae14c13545/bin/solc#L4-L7

As a result, local changes (ex: using a branch) will be erased.

I see two solutions:
1 - Update the [source installation documentation](https://github.com/crytic/solc-select#ins

[2019-06-19 14:52] nevillegrech commented on #17
Thanks. Indeed snap seems to be interacting with solc-select after removing the solc executable, which is weird. However the new version of solc-select you put up a few hours ago seems to be working fine for me now.

Please let me know if you find a clean way to remove solc-select on Ubuntu for future reference.

[2019-06-20 13:32] nevillegrech commented on #17
Got to the root of the problem, it seems that solc-select's installation overwrote `/usr/bin/snap` with its own version of the `solc` script. I think all programs installed by snap are symlinks to `/usr/bin/snap`. I think the correct behavior of the installation in this case would have been to overwrite the symlink itself i.e. `/snap/bin/solc`.

[2019-06-27 15:17] ESultanik opened #19 "Add native, docker-less support for Linux"
This should also resolve #12.

## Task Description
There is no reason why `solc-select` would need to use Docker on Linux, since `solc` distributes statically linked Linux binaries.

The goal is to update the `solc-select` install script to:
- [x] Detect whether it is being installed on Linux
- [x] If so, run the scripts that are typically used to provision the Docker image

This may require modif

[2019-06-27 18:31] hklee93 opened #20 "exec user process caused "exec format error""
I'm trying to run `docker run --read-only -i --rm --entrypoint='/bin/sh' trailofbits/solc-select:latest -c 'cat /usr/bin/install.sh' | bash -e` on **Ubuntu arm 64 bit**, but keep getting `standard_init_linux.go:207: exec user process caused "exec format error"`. I was wondering if this is architecture related issue. Most of the answers I get from googling say add `#!/bin/bash` at the top of the sc

[2019-07-21 00:01] carumusan opened #21 "libreadline error when running solc"
solc --version
Error loading shared library libreadline.so.8: No such file or directory (needed by /usr/bin/solc)
Error relocating /usr/bin/solc: unstifle_history: symbol not found
Error relocating /usr/bin/solc: rl_make_bare_keymap: symbol not found
Error relocating /usr/bin/solc: rl_bind_key_if_unbound_in_map: symbol not found
Error relocating /usr/bin/solc: rl_macro_dumper: symbol not found
Err

[2019-07-25 09:28] n0thingness commented on #21
Same problem for me after having installed solc-select using

[code]

[2019-07-25 09:33] montyly commented on #21
Hi,

Thank you @carumusan and @n0thingness for reporting the issue.

What OS are you using?

[2019-07-25 09:36] n0thingness commented on #21
ProductName:	         Mac OS X
ProductVersion:	10.14.6
BuildVersion:	        18G84

[2019-07-25 15:30] carumusan commented on #21
Also MacOS and had the same problem as @n0thingness with /usr/bin/solc not being allowed.

This may be an upstream issue with ethereum/solc.

[2019-07-27 15:15] ivanvpan commented on #19
Thanks for assigning to me, I appreciate your trust. I will have it delivered on or before Tuesday Jul 30.

[2019-07-31 05:54] ceresstation commented on #19
Hi @ivanvpan it's now July 30th, if we don't hear back in 24 hours we'll have to pass the task to @balajipachai

[2019-07-31 08:42] ivanvpan commented on #19
My changes can be seen here and generally I'm satisfied, except some variable naming and README work:
https://github.com/crytic/solc-select/compare/master...ivanvpan:gitcoin-linux-no-docker?expand=1

I got tripped by the problem that I am not at all able to run solc-select dockerized script on Linux, even the original upstream version. I wanted to make sure that there are no regressions, but on bo

[2019-07-31 13:33] pcowgill commented on #16
I submitted this issue for funding through Gitcoin Requests, and now it will pay out 300 DAI if anyone is up for working on it.

[2019-07-31 15:47] ivanvpan commented on #19
Ok, I'm done with code.
Wrote a test for Linux that creates a docker image runs solc-select inside.
Updated README.
Removed all debugging flags.

But if could have a little more patience, I am trying to procure an OSX machine to run the final test. You should have my sign-off very soon.

Here's the comparison again:
https://github.com/crytic/solc-select/compare/master...ivanvpan:gitcoin-linux-no-d

[2019-07-31 20:31] SlightlyCyborg commented on #19
I'm having trouble installing on linux, so I hope this gets merged soon :)

[2019-07-31 21:33] SlightlyCyborg commented on #12
Hmm. Sadly this does not work for Arch.

[2019-08-01 09:42] b-m-f commented on #16
Heyho,

Ive applied through gitcoin, but I think this will be much better to do when https://github.com/crytic/solc-select/issues/19 lands.  Especially when basing the switch on `$SOLC_PATH`.

I would be able to test on Linux and Windows.

[2019-08-02 14:36] ivanvpan commented on #16
@b-m-f I have a feeling, that regardless of whether my code for #19 gets merged switching to `nvm` style behavior would be a pretty significant switch and might warrant a parallel implementation whether in the same repo or separately. `install_solc.sh` code is useful for fetching the versions, but that's about all the shared code I foresee.

Philosophically thinking it's a problem that a lot of pr

[2019-08-03 08:09] b-m-f commented on #16
I am starting work on this today and will post an update later :)

[2019-08-03 11:48] b-m-f commented on #16
Hi @pcowgill ,

the PR is open at https://github.com/crytic/solc-select/pull/24/files and should work as expected.
I will give it a spin on a Mac now, was developing this on Linux ( now I can also appreciate the work from @ivanvpan better ).

[2019-08-03 16:25] b-m-f commented on #16
Tried on Mac and works after changing `grep -P` to `grep -E`

![image](https://user-images.githubusercontent.com/2843450/62414467-a9bed300-b613-11e9-9954-0753674e65b7.png)

[2019-08-09 01:47] #19 closed

[2019-08-13 19:15] ESultanik commented on #16
@ceresstation I just merged the PR. It looks like this is complete!

[2019-08-13 23:19] naddison36 commented on #15
I tried installing `solc-select` on my Mac as per the README instructions but it silently failed
[code]

Trying again without the `-e` gave the follow
[code]
The same result if I ran it using `sudo`

My `solc` was previously installed using `brew`
[code]

After removing `/usr/local/bin/solc`, the script fails with as the default location is solc is not installed is `/usr/bin/solc` and not `/usr/lo

[2019-08-22 13:39] Skyge opened #25 "Can not install solc on the Mac."
I am trying to install solc following our document,
[code]
when I run first command, it can pull some images, but for the second commands, nothing happens, so what should I do?

[2019-08-23 00:49] Skyge commented on #25
Maybe something wrong with my system, I have used a soft link to solve this problem.

[2019-08-26 00:57] Skyge commented on #25
I tried the approach **Installation from Source on OS X**, and I got the same result: nothing happened, so what is wrong?
Besides, is there a necessary to download all `solc` versions? As a matter of fact, there is a recommending for compiling contracts, if we use `^0.4.x`, it should use the latest version in the `0.4`(now is `0.4.26`), and it is also recommend to use a specific version, such as `

[2019-08-26 16:03] disconnect3d commented on #25
TLDR: The problem is that we can't write to `/usr/bin/solc` on OS X [due to SIP](https://apple.stackexchange.com/questions/237778/cant-write-to-usr-even-with-sudo).

And we do it with:
[code]

as this cats the install script and pipes it to bash on the host machine.

This script begins with the content from this script: https://github.com/crytic/solc-select/blob/master/scripts/install.sh#L51 and e

[2019-08-27 00:48] Skyge commented on #25
@disconnect3d  Yeah, it works now, thanks! so is there a necessary to change the default installation directory to avoid such errors just like mine?

[2019-08-28 07:30] ivanvpan commented on #19
@ceresstation Hey. This was closed, can you mark my bounty as complete please? I don't care as much for the cash as having a record of having completed a bounty =)

[2019-09-06 01:24] #25 closed

[2019-09-06 12:38] disconnect3d commented on #25
Yeah, we need to make such change in the repo.

[2019-09-18 13:38] brockelmore commented on #15
For those who encounter this later, I had the same problem. Either was getting permission denied, operation not permitted, or error relocating.

I took the following steps to get it to work:
[code]
Basically, all I am doing is building in a known permitted location via PREFIX then symlinking back to /usr/local/bin so that I can run the executable from everywhere and applications like slither can a

[2019-10-28 08:29] #16 closed

[2019-10-28 08:30] montyly commented on #12
I believe this was fixed with https://github.com/crytic/solc-select/issues/19?

[2019-11-05 13:26] olugbokikisemiu commented on #12
Hi, i followed this step to install solc on mac but i keep getting bash: line 51: /usr/bin/solc: Operation not permitted... Any help please?
[code]

[2019-12-17 07:04] enderphan94 opened #26 "Cannot use "use" in MacOS"
I've followed the installation in readme for MacOS and used `$PREFIX` argument for not to overwite my original solc

[code]

[2020-05-21 10:45] lukwue opened #27 "How to add older versions to the script?"
Hello,

in the `README.md`, when typing `--version`, the oldest version is `0.4.11`
However, when I type it, the oldest version is `0.0.24`.
How can I tell the script to also add all the old versions?

Thank you,

Lukas

[2020-05-21 15:35] lukwue commented on #27
OK,

I added this code to the `install_solc.sh` file:

[code]

[2020-05-21 15:35] #27 closed

[2020-06-08 08:21] sohkai opened #28 "Add option to only install a single or range of versions"
Similar to https://github.com/crytic/solc-select/issues/27, it would be nice to provide an option on the install script to specify which versions you would like to install, rather than the entire fetch list of releases.

This is useful in CI platforms, where you are generally only interested in one or a few specific versions at most.

For older versions, we can either bump up the [`?per_page` para

[2020-07-10 02:51] #28 closed

[2020-10-03 20:06] apalepu23 opened #31 "Unsupported solidity 0.6.12 in docker environment"
I'm attempting to use the docker set up for echidna, and i am unable to sol-select solidity 0.6.12. It tells me that the max available version number is 0.6.9. Thanks!

[2020-10-11 16:30] abialy opened #32 "switch to the expected solc version automatically"
I am using docker slighter and trying to use solc-select automatically. How it should be configured?

Currently it does not work even if I specify multiple versions using --solc-solcs-select

Any help would be appreciated.

[2020-11-11 07:40] huahuayu opened #33 "mac docker install failed, nothing installed"
run `docker run --read-only -i --rm --entrypoint='/bin/sh' trailofbits/solc-select:latest -c 'cat /usr/bin/install.sh' | bash -e` as README says, in mac osx 10.15.6, docker 19.03.13

nothing happend, no new container, no `solc` command found (even start a new termial tab)

![image](https://user-images.githubusercontent.com/1725060/98783079-ec38a780-2433-11eb-88ce-4ce0a3e3c06b.png)

[2020-11-11 09:35] huahuayu commented on #33
also use linux command in mac is no use

[code]

[2020-11-18 03:24] tommyz7 commented on #33
#34 should fix this. Remember to [build from the source](https://github.com/crytic/solc-select#installation-from-source-on-os-x). You can use the PR #34 or clone from this fork https://github.com/tommyz7/solc-select

[2020-11-19 14:21] huahuayu commented on #33
@tommyz7 thx tommy, now I am not in a hurry, I have `solc` installed in VM, when it will be updated to docker hub? then I will try.

[2020-12-11 01:13] iphelix opened #35 "Persistent contract files"
Solidity files appear to persist within the docker image between runs, so any changes on the local disk do no affect what dockerized compiler actually processes after the first time. Restarting Docker helps fix the issue.

[2020-12-11 13:03] montyly commented on #35
Hi @iphelix .

Thank you for reporting this. It's an issue we actually recently realized, and we are investigating a potential fix

[2020-12-11 20:07] iphelix commented on #35
Fantastic, I'm glad that you can also replicate this.

[2020-12-16 09:58] katoyi120 opened #36 "solc-runner ERROR"
This error occurs when I run solc -- version

`.solc-select/usr/bin/solc-runner:line 11:   $BIN_DIR/solc-v$SOLC_VERSION $@ `

what should i do?

[2020-12-21 13:26] disconnect3d commented on #31
The current version has solc 0.6.12; though it is still outdated, which we will fix today.
![image](https://user-images.githubusercontent.com/10009354/102781736-7c093400-4398-11eb-813e-8d560f801614.png)

[2020-12-21 13:26] #31 closed

[2020-12-21 13:28] disconnect3d commented on #12
I believe this is old enough to be closed. Let us know if the problem persists to anyone (probably creating another issue).

[2020-12-21 13:28] #12 closed

[2020-12-23 23:47] ggrieco-tob opened #37 "Fails to download solc 0.8.x"
[code]

Other versions work fine.

[2021-01-04 21:21] NatalieChin80 commented on #35
Hi @iphelix,

#38 is a python-rewrite of `solc-select` that uses native Mac OS binaries (removing the need of Docker). It was just recently merged. You can clone the repository/pull the most recent changes and add the directory to your path. Then, you can run `solc-select install 0.7.0 0.8.0` for example, to install these versions.

The linked PR (#38) has additional examples on how to use the new

[2021-01-06 13:59] M-Hammad-Ali opened #39 ""use" is not found. in Linux"
I have followed the given procedure but when try to use `solc use 0.5.6` it gives `"use" is not found`

![image](https://user-images.githubusercontent.com/55716079/103776431-41b6bc80-5051-11eb-9b58-4e3bee62156e.png)

[2021-01-14 09:59] adrianmcli commented on #33
I am still experiencing this problem. I saw that #34 was merged 9 days ago.

I am actually using macOS Mojave (v10.14.6) though.

[2021-01-14 10:04] huahuayu commented on #33
hi @adrianmcli I am waiting for your good news, I still use `solc-select` in ubuntu vm.

[2021-01-14 11:17] adrianmcli commented on #33
:(

This is very sad. I might need to buy a new computer (my only computer is a Mac).

[2021-01-14 11:22] huahuayu commented on #33
@adrianmcli no you don't, you just need a linux docker container

[2021-01-14 11:26] rmi7 commented on #33
Hey guys. We recently added a python-based experimental version of solc-select which does not use Docker. Checkout this PR: https://github.com/crytic/solc-select/pull/38 for what changed. It's already merged and inside the `experimental/bin` folder, so cloning this repo or pulling to get the latest changes should give you this newer version.

You need to put that `experimental/bin` folder in your

[2021-01-18 03:59] Satoshi-Kusumoto commented on #12
I also followed the step to install solc on mac and when I run `solc` I got the same problem
chroot: can't execute 'chroot.sh': No such file or directory
[code]

[2021-01-18 12:58] arcz commented on #12
@Satoshi-Kusumoto please try out the new `solc-select`, it doesn't require docker https://github.com/crytic/solc-select#experimental-solc-select

[2021-01-30 18:59] eerkaijun commented on #39
I am facing the same issue

[2021-02-04 20:58] reem commented on #12
Still seeing this exact issue today trying to install following default instructions in the README on macOS. It simply says that solc is installed but commands such as `solc --versions` all just fail with the titular error message

[2021-02-06 02:52] canokaue commented on #12
Having the same problem on macOS, no way of getting it to work. @arcz I suggest this is isso is reopened.

[2021-02-06 11:59] arcz commented on #12
@reem @canokaue have you tried this https://github.com/crytic/solc-select#experimental-solc-select? we will be most likely removing the current Docker set up anyway as it turned out to be problematic

[2021-02-07 23:41] canokaue commented on #12
@arcz tried it and got the same error, I don't think it's a Docker issue (changing to a more convenient distribution method is interesting regardless).

[2021-02-08 13:07] arcz commented on #12
that shouldn't happen, the new solc-select doesn't use chroot anywhere, are you sure you don't have the old one still in PATH?

[2021-02-08 21:08] canokaue commented on #12
Yep, that works great, my bad. Thanks for the help mate.

[2021-02-10 11:53] arcz commented on #15
This shouldn't be a problem anymore as we changed solc-select to be a Python package https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 11:53] #15 closed

[2021-02-10 11:54] arcz commented on #17
This shouldn't be a problem anymore as we changed solc-select to be a Python package https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 11:54] #17 closed

[2021-02-10 11:58] arcz commented on #33
This shouldn't happen anymore, see https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 11:58] #33 closed

[2021-02-10 11:58] arcz commented on #36
This shouldn't happen anymore, see https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 11:58] #36 closed

[2021-02-10 11:59] arcz commented on #26
This shouldn't happen anymore, see https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 11:59] #26 closed

[2021-02-10 11:59] arcz commented on #18
This shouldn't happen anymore, see https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 11:59] #18 closed

[2021-02-10 12:00] arcz commented on #35
This shouldn't happen anymore, see https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 12:00] #35 closed

[2021-02-10 12:01] arcz commented on #21
This shouldn't happen anymore, see https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 12:01] #21 closed

[2021-02-10 12:02] arcz commented on #37
Should work on the newest version:
[code]

[2021-02-10 12:02] #37 closed

[2021-02-10 12:03] arcz commented on #39
This shouldn't happen anymore, see https://github.com/crytic/solc-select/releases/tag/0.2.0.

[2021-02-10 12:03] #39 closed

[2021-02-10 13:42] disconnect3d commented on #32
I think this issue is quite outdated: we now migrated solc-select to a Python version installed with `pip`.

Please create a new issue if the problem persists for you or if there is something we could improve in the new version.

[2021-02-10 13:42] #32 closed

[2021-02-15 08:59] montyly opened #41 "Lost support for solc < 0.4.10"
With the new python refactoring, we lost the support for solc < 0.4.10

We are now using https://binaries.soliditylang.org/, which does not list versions that are too old, while in the past we used:
https://github.com/crytic/solc-select/blob/8a0ba47c99ce75c11eecde7ad6bbfed52d072d05/scripts/install_solc.sh#L5

Alternatively, we could get the missing binaries from: https://github.com/crytic/solc

[2021-03-01 07:08] jjhesk opened #42 "mac doesnt work"
After I install the package completely in macosx 11.1 Beta and i restart the terminal for entering the `solc-select` and it doesn't find the command again. Now the only currently working way is installing the package on centos and they works without any workaround at all.

[2021-03-02 19:13] xlab commented on #42
[code]

bigSur 11.0.1

[2021-03-02 21:51] ESultanik commented on #42
You don't even need to `git clone` the repository. You should just be able to run `pip3 install solc-select` from anywhere on any system with a valid Python 3.* install.

[2021-03-22 02:09] glazec opened #43 "Unsupported platform"
I am using Win10. When I run `solc-select install`, it returns `Available versions to install:
Unsupported platform.`

[2021-03-22 12:04] rmi7 commented on #43
Sorry, (at this time) Windows is not supported.

https://github.com/crytic/solc-select/blob/d866c55b7d78f421a7724d7b7d723bd8bedef28b/solc_select/solc_select.py#L85-L93

[2021-03-22 17:00] glazec commented on #43
I notice that solc has windows binary support. Do you plan to support windows in the near future?

[2021-03-22 17:04] montyly commented on #43
Hi @glazec, thanks for pointing this out.

We will add the support for `windows-amd64` soon

[2021-03-22 17:07] montyly opened #44 "Add checksum"
For every binary we should have a checksum and warn the user if it does not match

[2021-03-22 17:11] glazec commented on #43
That's awesome! I look forward to using it on my windows PC.

[2021-03-22 17:57] montyly opened #45 "Add linters to the CI"
We can take some from slither:
- black: https://github.com/crytic/slither/blob/master/.github/workflows/black.yml
- pylint https://github.com/crytic/slither/blob/master/.github/workflows/pylint.yml

They both leverage the github super linter

[2021-03-22 20:34] NatalieChin80 opened #46 "Validate inputted versions"
Print out error message for user if they enter a solc version too large or too small. Both commands currently fail silently.
[code]

**Maximum** is in the `list.json` with `latestRelease` tag

**Minimum** is different for each distribution:
- For _Mac_, the minimum release is **0.3.6**.  https://github.com/ethereum/solc-bin/blob/gh-pages/macosx-amd64/list.json#L901
- For _Linux_, the true minimum

[2021-03-23 18:44] aram10 opened #47 "Solc version not being switched"
I am attempting to switch my solc version from 0.8.3 to 0.4.24, but this does not seem to be working as shown when I check the version, and when I try and build contracts using 0.4.24.
![solc](https://user-images.githubusercontent.com/59741191/112201051-40c01080-8be6-11eb-9b72-b369c0eb9ed7.PNG)

[2021-03-24 10:14] montyly commented on #47
Hi @aram10,

This might be a conflict in your PATH, where multiple `solc` executables exist. Can you run `whereis solc`?

[2021-03-24 11:56] aram10 commented on #47
Ah yes, I believe you're correct. Here is the output:

`solc: /usr/bin/solc /usr/local/bin/solc `/home/alex/.local/bin/solc`

How would I remedy this?

[2021-03-25 08:26] montyly opened #49 "Add python types"
We should add python types everywhere.

The codebase is small and straightforward, but types will help in the long term, and ease third party integrations

[2021-03-25 15:52] montyly commented on #47
Can you share the output of `whereis solc-select` ?

[2021-03-26 14:12] NatalieChin80 opened #51 "solc-select versions"
Displays out of order and `.DS_Store` here too:
[code]

[2021-04-30 08:41] taylorgag opened #52 "install problem"
Sorry to bother you. Why I use the command "pip3 install solc-select" and then use "solc-select install 0.8.1 ",it shows "solc-select: not found"

[2021-05-03 17:04] NatalieChin80 commented on #52
Hey @taylorgag. Thanks for reporting this. What OS and version are you using?

[2021-05-04 04:00] taylorgag commented on #52
Well, I think I have solved this problem,it was not your fault.

[2021-05-04 04:00] #52 closed

[2021-05-05 19:29] NatalieChin80 commented on #45
Merged with #50

[2021-05-05 19:29] #45 closed

[2021-05-05 19:29] NatalieChin80 commented on #41
Merged with #53

[2021-05-05 19:29] #41 closed

[2021-05-05 19:37] NatalieChin80 commented on #51
Fixed with #53

[2021-05-05 19:37] #51 closed

[2021-05-13 10:57] Azuryte commented on #47
Not working for me as well. I'm on macos.

which solc:
/opt/homebrew/bin/solc

which solc-select:
/Library/Frameworks/Python.framework/Versions/3.9/bin/solc-select

What can I do about this?

[2021-05-13 13:26] NatalieChin80 commented on #47
Hey @aram10! Are you still experiencing this? Can you share the output of `which solc`?

Hey @Azuryte! You should not need the homebrew installed `solc` as `solc-select` will download the Mac OSX binaries you need to execute. Can you try running `brew uninstall solidity`?

[2021-05-13 13:33] Azuryte commented on #47
Yeah, that makes total sense. It's working. Thanks!

[2021-06-12 11:37] appswarehouse commented on #43
is there any plan to add it anytime soon, because this issue still keep occuring

[2021-06-14 13:32] NatalieChin80 commented on #43
Hey @appswarehouse, thanks for reaching out! Yep, we are currently working on Windows support, which can be tracked in #54.

[2021-06-24 08:21] Lsw-98 opened #59 "When I run the 'Solc select Install' command, the following error occurs. How can I solve it?"
(py36) lsw@lsw-virtual-machine:~/桌面$ solc-select install
Available versions to install:
Traceback (most recent call last):
  File "/home/lsw/anaconda3/envs/py36/lib/python3.6/urllib/request.py", line 1318, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/home/lsw/anaconda3/envs/py36/lib/python3.6/http/client.py", line 1239, in request
    self._send_request(method, url,

[2021-06-30 12:42] Aniket-Engg opened #60 "solc-select doesn't recognize already install solc version"
`solc` was installed on my system. Before installing the solc-select, it showed:
[code]
Once I installed `solc-select`, it didn't recognize my local version:
[code]
While trying to use the local version:
[code]

So I have to again install and use a solc version using `solc-select`

[2021-07-05 14:38] 0xicingdeath commented on #59
Hey @Lsw-98! Thanks for reporting this. This does look like a bug. What OS and version are you using?

[2021-07-05 14:39] 0xicingdeath opened #61 "Automatically change solc version depending on pragma"
When running `solc <file>` currently, users have to change the solc-select global version, then run the solc file:
[code]

Example file:
[code]

When changing the pragma, it requires users to run the `solc-select use <version>` in their terminal to use the correct solc version. It would speed up testing significantly if the tool had the ability to change the version automatically.

[2021-07-05 14:46] 0xicingdeath opened #62 "Introduce local solc version override"
When we designed the initial solc-select architecture, we used a `global-version` file, which would be set when users run `solc-select use <version>.`

The current architecture easily supports the capturing of a different Solidity version in a set of smart contracts using a framework (i.e: Truffle/Hardhat), which should override the globally set version.

For example, even if the global version of

[2021-07-05 14:52] 0xicingdeath opened #63 "Better user experience around setting solc-select version"
Currently, if a user tries to set the global version to a version they don't have installed, the error message tells them to run the alternative command.

It would be more efficient to directly ask users if they want to install 0.4.14 then, and then set the global version afterward, so they don't need to copy-paste the command.

[code]

[2021-07-05 17:41] 0xicingdeath opened #64 "Support for Windows v0.4.1 – v0.4.4"
According to the [json](https://binaries.soliditylang.org/windows-amd64/list.json),`0.4.3, 0.4.4` are missing for Windows, which is why they fail to install:
[code]

_Originally posted by @NatalieChin80 in https://github.com/crytic/solc-select/issues/54#issuecomment-874173959_

Also, 0.4.1 and 0.4.2 are not the stable release builds, so this produces errors when trying to compile a file that expec

[2021-07-05 17:58] 0xicingdeath opened #65 "Automatically run `solc-select upgrade` on pip3 upgrades"
To get the most up-to-date solc-select version, users have to run `pip install solc-select --upgrade`.

With the recent changes in refactoring, if solc-select detects the old architecture, it will print an error message and ask a user to run `solc-select upgrade`. As a result, users need to run these two commands to update solc-select, which is clunky:

[code]
Before releasing the refactor and Win

[2021-07-05 18:26] 0xicingdeath commented on #47
This issue is caused by a duplicate installation of `solc` on a machine and binaries that are downloaded from `solc-select`. Uninstalling the secondary solc installation should allow `solc-select` to recognize the binaries. Please create a new issue if the problem still persists. Thanks!

[2021-07-05 18:26] #47 closed

[2021-07-05 18:34] 0xicingdeath commented on #42
I've been unable to reproduce this issue on OS X with the python version of solc-select. Please create a new issue if the problem persists with the [latest stable release](https://github.com/crytic/solc-select/releases/tag/0.2.1). Thanks!

[2021-07-05 18:34] #42 closed

[2021-07-05 19:49] 0xicingdeath commented on #43
Hey @glazec and @appswarehouse, we have a beta version for Windows support for v0.4.5 to latest. Feel free to run the following to test it out:

[code]

Happy to help any problems you encounter or feedback. Thanks!

[2021-07-07 13:51] 0xicingdeath opened #66 "Update `solc-select install` to take a range of versions"
The current API expects users to either provide `all` (which will install all versions) or specifically list out which versions they want to install.

It would be convenient for testing purposes to also allow users to provide a range of versions (i.e: 0.5.17-0.8.4)

[2021-07-08 16:59] 0xicingdeath commented on #65
Adding `prior-to-release` tag – this should be implemented prior to Windows release going out

[2021-07-14 08:08] rubujubi opened #68 "SSL certificate verify failed"
Ubuntu 18.04

When I use the command `solo-select install`

I met with this error:
[code]

[2021-07-14 13:39] 0xicingdeath commented on #68
Hi @Kindhearted57, thanks for reporting this.

Can you provide the output of the following commands?
`pip3 --version`
`curl -X GET -I https://binaries.soliditylang.org/linux-amd64/list.json`
`python3 -c 'import urllib.request; urllib.request.urlopen("https://binaries.soliditylang.org/linux-amd64/list.json")'`

[2021-07-15 02:38] rubujubi commented on #68
`pip3 --version`

`pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.8)`

`curl -X GET -I https://binaries.soliditylang.org/linux-amd64/list.json`

[code]

`python3 -c 'import urllib.request; urllib.request.urlopen("https://binaries.soliditylang.org/linux-amd64/list.json")'`
[code]

[2021-07-17 00:16] 0xicingdeath commented on #68
Hey @Kindhearted57, thanks for the output on the commands. I am having trouble reproducing this error locally. From the error message, it looks like your local certificates may be out of date. Are you experiencing this with any other requests that require ssl?

Perhaps, you could try retrieving fresh certificates?
https://manpages.ubuntu.com/manpages/impish/en/man8/update-ca-certificates.8.html

[2021-07-21 11:03] rubujubi commented on #68
Hey @NatalieChin80, Sorry for the late reply. I have been searching around, and it seems I am getting this error because I used a self-signed certificate.  [This](https://stackoverflow.com/questions/27835619/urllib-and-ssl-certificate-verify-failed-error) stackoverflow question provides some work-arounds for this problem.

[code]

and

[code]
work in my case, while `update-ca-certificates` seems u

[2021-07-21 11:42] QinHaoChen97 commented on #59
I also have a similar problem "ConnectionResetError" like yours.And I restart the virtual machine then it works.I think the error occur because I use VPN moment ago.

[2021-07-30 11:32] shawnwbts commented on #59
Hi,I have met this problem before. But I dont know how to solve this problem. I am using a Linux server and the solc-select version is 0.2.1

[2021-07-30 12:01] shawnwbts opened #69 "pip3 install solc-select"
Sorry to bother you, while I am using the command 'pip3 install solc-select', it runs fast. Does this mean that all versions have been installed？ But when I use the command solc-selct install ,its output:(the environment is the Linux server,and what I am using the version of solc-select is 0.2.1)
Available versions to install:
Traceback (most recent call last):
  File "/home/rb/anaconda3/lib/pytho

[2021-07-30 15:00] shawnwbts commented on #69
sorry , I have another question. When I use the following 2 commands to install solc-select ,
git clone https://github.com/crytic/solc-select.git
./solc-select/scripts/install.sh
Why i don't have scripts folder in solc-select?
Is it the reason for the version update of solc-select?

[2021-08-07 05:38] MrWiffer commented on #69
These two issues you mentioned also exist on my local Ubuntu20.04, but the command "_solc-select install_ " indeed works on my Ubuntu vm on inspur server.

[2021-08-07 06:30] MrWiffer opened #70 "command "solc-select install" meets error"
Ubuntu 18.04 and Ubuntu 20.04 on local virtual machine
When I use the command `solc-select install` or `solc-select install A_SOLC_VERSION(e.g, 0.4.25)`, I meet with the error as follows:
[code]

But these two commands indeed works on the inspur linux server(Ubuntu18.04). And I notice that there has been several identical issues published.

[2021-08-09 12:48] 0xicingdeath commented on #69
Hey @taylorgag @MrWiffer, thanks for reporting this. We are still investigating the cause of this `Connection refused` issue – which seems to be affecting mainly Linux installations. Thanks for the info regarding specific Ubuntu versions, this helps with reproducing, as I'm still unable to do so consistently.

Running `pip3 install solc-select` will install the tool, but not all of the Solidity ve

[2021-08-10 02:19] shawnwbts commented on #69
The following are all happening in the Linux environment：
**First**，I use the following command to install **solc**,
- sudo add-apt-repository ppa:ethereum/ethereum
- sudo apt-get update
- sudo apt-get install solc
when I use **solc --version**,  its outputs are
solc, the solidity compiler commandline interface
Version: 0.8.6+commit.11564f7e.Linux.g++
**Second**, I use **pip3 install solc-select,*

[2021-08-10 02:28] shawnwbts commented on #69
**Sixth**, when I use **solc-select install**, its outputs are
Available versions to install:
Traceback (most recent call last):
  File "/home/rb/anaconda3/envs/tensorflow-gpu/lib/python3.6/urllib/request.py", line 1318, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/home/rb/anaconda3/envs/tensorflow-gpu/lib/python3.6/http/client.py", line 1239, in request
    self._se

[2021-08-17 23:14] dterr commented on #68
Running on macOS 11 but the [aforementioned stackoverflow](https://stackoverflow.com/a/42334357) question gave some clarity and after running

`pip3 install certifi`
`/Applications/Python\ 3.8/Install\ Certificates.command`

the command worked as expected.

[2021-08-28 02:20] shawnwbts commented on #59
Sorry to bother you, did you solve this problem?

[2021-09-01 13:46] 0xicingdeath commented on #69
Hey @taylorgag, thanks for providing this. I've been investigating these error messages, and it suggests it may be a bug introduced in our 0.2.1 release. Can you try downgrading to `0.2.0` and let me know if this helps (if you do not need solc-versions less than 0.4.9)?

[code]

[2021-09-01 13:58] 0xicingdeath commented on #70
Hey @MrWiffer, thanks for the stack trace! It suggests it may be a bug introduced in our 0.2.1 release. Can you try downgrading to `0.2.0` on the Ubuntu 20.04 machine, and let me know if it works?

[code]

[2021-09-02 02:04] shawnwbts commented on #69
Actually, when I use the following command
**pip3 uninstall solc-select
pip3 install solc-select==0.2.0
solc-select install**
its outputs are:
Defaulting to user installation because normal site-packages is not writeable
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnec

[2021-09-06 22:11] julianmrodri commented on #68
Same issue in MacOS  had to run the command above. Definitely should be part of main README!

[2021-09-07 12:38] MrWiffer commented on #70
I've tried in this way.
command `solc-select install` works, but when I want to install solc 0.4.25 via `solc-select install 0.4.25`, there is something wrong:
[code]
What's more, the issue above occurs when I have upgrade the Python version on my Ubuntu18.04, from 3.6.9 to 3.8.11.  I tried to install solc on my Ubuntu20.04 LTS with system Python version and it works.
It's so odd.

[2021-10-19 01:44] daweth opened #72 "Commands to change global Solc --version do not work on Arch Linux"
`solc-select use 0.7.6`
and
`SOLC_VERSION=0.7.6`

do not change the result of

`solc --version`

[2021-10-19 13:24] 0xicingdeath commented on #72
Hey @daweth, this usually happens if you have another version of `solc` installed on your machine. Can you share the output of `which solc`?

[2021-10-19 14:11] 0xicingdeath opened #73 "Add flag to `solc-select use` to install and change version"
Convenience feature – but would be nice to add an option to run `solc-select use <version> --some_flag`, which installs and changes the solc version without the user needing to run `solc-select install <version && solc-select use <version>`

[2021-10-19 15:44] daweth commented on #72
`/home/me/.nix-profile/bin/solc`

Ah, seems like I have this from Nix (dapptools maybe?)

How would I change to a different solc directory?

[2021-10-19 19:55] arcz commented on #72
@daweth what does your $PATH look like? If you used system Python to install `solc-select` then most probably `~/.nix-profile/bin/` takes precedence over the Python executables path. I don't know what do you want to achieve but if you have Nix installed already you can try `solc-select` in nix-shell with `nix-shell -p python3Packages.solc-select`.

[2021-10-22 02:25] simin98 opened #75 "how to install solc-select ?"
![image](https://user-images.githubusercontent.com/83910332/138382637-e1081e82-40ba-46a4-8180-96352ca2b2c2.png)
pip install solc-select==0.2.0
pip install solc-select==0.2.1
Could not find a version that satisfies the requirement solc-select==0.2.1 (from versions: )
No matching distribution found for solc-select==0.2.1
![image](https://user-images.githubusercontent.com/83910332/138382982-c7bc2b49-

[2021-10-22 19:03] 0xicingdeath commented on #75
Hey @simin98! Thanks for reporting this. Do you have `python3` installed? I think you might need Python 3.x for this, as Python 2 has been deprecated.

The `install.sh` file you're mentioning is part of an older release of solc-select that uses Docker. This has since been refactored in Python. Do you know where you saw these instructions?

You can try the following instead. (You can do this _or_ t

[2021-10-27 00:57] simin98 commented on #75
I tried it but it do not work.
I want to use oyente(the Smart Contract Detection Tool),and its default environment is python 2.7.when i switched python version (2.7to 3.6),i can not use pip3.
==

[2021-11-08 14:39] wokring opened #76 "Windows Port"
I have installed the package through a git clone as mentioned in [#43](https://github.com/crytic/solc-select/issues/43) through pip installation. Installation of solc compilers is fine but I can't actually compile anything. Is it a bug on my end by installing through pip instead of a manual install through setup.py?

[2021-11-08 14:43] 0xicingdeath commented on #76
Hey @Zernoxi! The windows feature isn't available through pip yet – you can give the manual install through `setup.py` instead. (You'll want to uninstall the pip3 version). After cloning, you can run `python3 setup.py install`. Let me know if that works?

[2021-11-08 16:30] wokring commented on #76
@NatalieChin80 Sorry if I wasn't specific enough. I cloned the the `add\windows-support` branch then I installed it through `pip` as from my understanding, `pip` can install local repositories and will also call `setup.py`. Or is there something with `pip` that is different from directly installing through `setup.py`?

[2021-11-11 06:14] wokring commented on #76
@NatalieChin80 I have just tried with `setup.py` but it only installs the solc compiler and when I run `solc -o <file>.sol` it doesn't output anything. Is this intended for now?

EDIT 1 (Nov 11 2021):
Never mind, it just doesn't have a help section for now and requires an output type and path. I just thought that it would show a successful/unsuccessful compilation message.

[2021-11-11 13:55] 0xicingdeath commented on #76
Hey @Zernoxi! Just seeing your edit – do you mean that running it with the `-o` flag should provide errors when it doesn't?  Once you provide the output type and path, do you get the expected output?

[2021-11-11 15:09] wokring commented on #76
@NatalieChin80 Yeah, once I provide the output type and path, I do get the expected output. But was expecting a compilation message like in the video linked here: https://www.youtube.com/watch?v=zUpbZRmITZQ&list=WL&index=37&t=135s

[2021-11-12 00:38] #76 closed, assigned to 0xicingdeath

[2021-11-30 13:45] #43 closed

[2021-11-30 13:45] #46 closed

[2021-11-30 16:29] #49 closed

[2021-12-01 14:30] #44 closed

[2021-12-01 14:35] #73 closed, assigned to nobody

[2021-12-01 18:13] 0xicingdeath commented on #63
This is a duplicate issue of #73, with fixes in #79, so I'm closing this.

[2021-12-01 18:13] #63 closed, assigned to 0xicingdeath

[2021-12-15 15:06] fjtechorg opened #84 "Linux minimum version 0.4.0"
I was wondering why the minimum version on Linux is 0.4.0 and why I can't install versions below it?

[2021-12-15 15:13] 0xicingdeath commented on #84
Hey @fjtechorg! What version of solc were you trying to use?

For the binaries hosted by [Solidity](https://binaries.soliditylang.org/linux-amd64/list.json), they've only released binaries >= 0.4.10. We have versions 0.4.0-0.4.9 in our own repository [here](https://github.com/crytic/solc/tree/new-list-json/linux/amd64). It's currently limited by the binaries that we've added in that second link.

[2021-12-15 15:24] fjtechorg commented on #84
I see thanks for your reply, I actually deal with random contracts and want to be able to go down to the very first versions, is there any way we can make all historical releases available?

[2021-12-17 22:00] 0xicingdeath commented on #84
We can look into adding additional support in the next release by adding into the versions that we are hosting, if we can get the executable binaries out!

[2021-12-22 17:09] 0xicingdeath commented on #72
Hey @daweth, we're closing this issue as @arcz provided fixes for the Python path. Please reopen or create a new issue if you experience this again. Thanks!

[2021-12-22 17:09] #72 closed, assigned to nobody

[2021-12-22 17:10] 0xicingdeath commented on #64
Closing. Dropping Windows support at 0.4.5.

[2021-12-22 17:10] #64 closed, assigned to 0xicingdeath

[2021-12-22 17:19] 0xicingdeath commented on #61
Closing, as this is something that crytic-compile does.

[2021-12-22 17:19] #61 closed, assigned to 0xicingdeath

[2021-12-22 17:22] 0xicingdeath commented on #60
Hey @Aniket-Engg! This is by design as part of downloading native binaries for the system. `solc-select` downloads solc binaries specific to your system, and then overrides `solc` on your path.

Reference: https://github.com/crytic/solc-select#solc-version-not-changing-after-running-solc-select-use-version-or-setting-solc_version

[2021-12-22 18:49] 0xicingdeath commented on #62
Also closing, as this is done by crytic-compile.

[2021-12-22 18:49] #62 closed, assigned to 0xicingdeath

[2021-12-22 18:55] 0xicingdeath commented on #75
Hi @simin98! Python2 isn't officially supported anymore, which is why solc-select will not work on that setup. You may need to raise this issue in Oyente which is relying on an older version.

[2022-01-05 20:39] 0xalpharush opened #87 "running"
https://github.com/crytic/solc-select/blob/1f72897dc890ce112da60cf1beebe6bee749ec2f/solc_select/__main__.py#L87

[2022-01-05 20:43] 0xalpharush opened #88 "program exits early when running solc --help"
Running `solc --help` causes subprocess to raise `subprocess.CalledProcessError` because `check=True` is passed. We either need to check whether the first arg is `--help` or remove `check=True` so that one can run `solc --help`. https://github.com/crytic/solc-select/blob/1f72897dc890ce112da60cf1beebe6bee749ec2f/solc_select/__main__.py#L87

[2022-01-06 01:43] #87 closed, assigned to nobody

[2022-01-18 04:14] sesameJar commented on #70
Hey @NatalieChin80 I have the same issue but downgrading didn't solve it. Still see the exact issue. The strange part is that it works fine on my other computer with a similar condition(maybe my python versions differ)- both macs.

[2022-01-18 05:31] sesameJar commented on #70
ok after hours of playing with different versions, **frist**, it seems that latest version of solc-select does not work any python's version I tried(I tried 3.8.9, 3.9.9, 3.10.2 and a few others). **second** the version @NatalieChin80 suggests seems to only be working with python 3.9.9 on mac.

for other people having issues to downgrade their python3, try using pyenv, but before that make sure yo

[2022-01-20 02:47] PatrickAlphaC commented on #68
I'm still getting this :(

[2022-01-20 02:49] PatrickAlphaC commented on #68
Can we add this to the readme?

[2022-01-20 14:17] 0xicingdeath commented on #68
Hey @PatrickAlphaC, it's in the README here! :) https://github.com/crytic/solc-select#ssl-certificate_verify_failed-on-running-solc-select-commands-investigation-ongoing

[2022-01-21 00:39] PatrickAlphaC commented on #68
Ah I missed it, thanks!

[2022-01-25 12:05] michprev opened #89 "Incorrect use of SHA3 instead of keccak256"
In the Ethereum world, Keccak-256 usually refers to the original design of the Keccak-256 hash function, while SHA-3 refers to the modified version of Keccak-256 from NIST. Please see https://github.com/ethereumbook/ethereumbook/blob/develop/04keys-addresses.asciidoc#ethereums-cryptographic-hash-function-keccak-256.

That means that this line is using an incorrect hashing function. The correct imp

[2022-01-25 17:15] #89 closed, assigned to nobody

[2022-01-25 17:16] 0xicingdeath commented on #89
Hey @michprev, thanks for the catch! We updated the hash function we're using in #90, which has been merged to dev, so feel free to test out the changes there! We'll plan to add more tests on this before it's merged to the main branch and prior to the pip release.

[2022-01-27 16:14] 0xicingdeath opened #91 "check ToB-hosted-checksums"
assuming hashes are saved here: https://github.com/crytic/solc/issues/1

add duplicity checks on keccak256/sha3 values

[2022-03-01 11:41] 161424 opened #92 "win"
When I use pip to install in windows, I encounter that the python platform does not have "sys. Platform = =" win * ", and" platform = uppercase platform ". It seems that I am not too good here. Moreover, will it be useful to mention" emscripten - wasm32 "in the manual?

[2022-03-02 00:35] 0xicingdeath commented on #92
Hey @161424! Can you share the terminal output that you get from running? It's not fully clear to me what the error is.

I'm also not entirely sure what you mean by `emscripten - wasm32`?

[2022-03-02 03:25] 161424 commented on #92
In line 222 of your solc-select.py file, I need to change it to lowercase to download it correctly, otherwise it is "unsupported platform". "Emscripten - wasm32" in https://docs.soliditylang.org/en/latest/installing-solidity.html#static -Binaries' warning is described

[2022-03-02 08:33] 161424 commented on #92
Sorry, it's my problem. I installed it using pip. Maybe the package management of Python platform has not been updated, which leads to a problem. Now the problems are solved for the packages obtained directly using GIT

[2022-03-11 11:34] zerox-me opened #93 "Unsupported platform"
I am trying to run "Slither" program but failed. The error is like this.
"Solidity version not found: No solc version set. Run `solc-select use VERSION` or set SOLC_VERSION environment variable."
But I cannot set solc version using "solc-select". It always show "Unspported platform".

![image](https://user-images.githubusercontent.com/59189994/157859169-3866c1f5-1aa6-49e5-bf37-1840706e0d35.png)

[2022-03-11 15:00] 0xicingdeath commented on #92
If you want to use through pip, I believe you would need to run it through `pip install solc-select==1.0.0b1` to get the beta release.

Closing this as it seems resolved – feel free to re-open or open a new issue if you are still experiencing problems.

[2022-03-11 15:00] #92 closed, assigned to nobody

[2022-03-11 15:09] 0xicingdeath commented on #93
Hey @mstrong-tech, can you share a bit more about your setup?

Are you on Windows? It seems you also cloned solc-select. Did you run `python3 setup.py develop`?

[2022-03-22 17:35] 0xicingdeath opened #95 "`--always-install` pattern mismatch on Windows beta"
[code]
Thanks @elopez for the bug report

[2022-03-22 20:18] #95 closed, assigned to nobody

[2022-03-23 00:36] 0xalpharush opened #97 "Return boolean to indicate if artifacts are successfully installed"
https://github.com/crytic/solc-select/blob/32e7c9cd26fdb294d6ca7cfb4d81811f7d079f37/solc_select/solc_select.py#L64
Background : https://github.com/crytic/crytic-compile/pull/234#discussion_r826220066

[2022-04-22 14:38] kevzettler commented on #84
I also have a need for  `pre-v0.4.0` versions while auditing legacy contracts. I specifically need `v0.1.2`It looks like the old `pre-v0.4.0` versions have been restored in `solc-bin` can we get these added to `solc-select`?

[2022-05-01 07:53] 0xAppo commented on #93
Hi, I'm on Windows and having similar issues, I ran the setup.py develop script but still receiving the "Unsupported Platform" error. Any tips? Thanks.

[2022-05-02 02:29] deep-quality-dev commented on #93
Hi, I've got similar issues on Mac, also tested with setup.py, returning `Unspported Platform` as above image.
Thank you for community.

[2022-05-02 14:17] 0xicingdeath commented on #93
Hey @0xAppo, thanks for reporting this issue. Can you provide a bit more information on your system? It seems you cloned it – what branch are you on in the repo?

Hey @deep-quality-dev, thanks for reporting! This is the first I've seen it not being supported on Mac... what OS are you on?

[2022-05-31 17:12] alloc33 opened #99 "Specify path to solc"
Is there any way to specify path to 'solc' executalbe? I want to use LSP (solc) inside neovim, neovim provides it's own solc installation to it's own path.

[2022-05-31 19:09] 0xicingdeath opened #100 "Check for `SSL: CERTIFICATE_VERIFY_FAILED` in error message and print command to run"
https://github.com/crytic/solc-select#ssl-certificate_verify_failed-on-running-solc-select-commands-investigation-ongoing

Would help with UX, considering it's kind of hidden in the README

Also considering this is out of our control

[2022-06-04 01:40] calnix commented on #93
Facing a similar issue as @0xAppo.
![image](https://user-images.githubusercontent.com/22549197/171971633-2836487b-7f62-42ec-bf9a-7ee26c5cd6d9.png)

I'm running win10 64bit with python 3.9.10.
Do let me know if you need any other particulars regarding my system.

Thank you.

[2022-06-05 18:40] 0xicingdeath commented on #93
Hey @calnix , thanks for reporting.

Can you try uninstalling `solc-select` and running `pip install solc-select==1.0.0b1` or running the `setup.py` from the `dev` branch on this repo?

[2022-06-05 23:23] calnix commented on #93
@NatalieChin80 Yes mam, it works beautifully.

![image](https://user-images.githubusercontent.com/22549197/172074831-370a4621-90f9-47de-93b6-711b3fa94536.png)
Thank you!

[2022-06-06 02:24] iaskgithub commented on #93
@NatalieChin80   it works beautifully,thank you

[2022-06-06 11:13] 0xicingdeath commented on #93
Happy to help! I'm going to close this issue. Please open a new issue if you experience something else!

[2022-06-06 11:13] #93 closed, assigned to nobody

[2022-06-17 19:31] 0xicingdeath opened #106 "optimize workflows to test against diff versions of python"
https://github.com/trailofbits/pip-audit/blob/main/.github/workflows/ci.yml#L11-L27

[2022-06-21 10:13] Aniket-Engg commented on #60
@NatalieChin80 Can you confirm that solc-select also installs solc on your system with `pip3 install solc-select` ?

[2022-06-21 13:29] 0xicingdeath commented on #60
Hey @Aniket-Engg! When you run `pip3 install solc-select` you're only installing the solc-select wrapper. Once you run `solc-select install [VERSION]`, then solc-select will retrieve & download binaries for your platform hosted by the Solidity team. This is why solc-select does not work on systems which `solc` is already installed on a system through another method.

[2022-06-21 13:58] Aniket-Engg commented on #60
Thanks for the info @NatalieChin80 . One last thing: If I run `pip3 install solc-select` and then `solc-select install [VERSION]` on a system having none of solc installation, will it go fine?

[2022-06-22 17:31] 0xicingdeath commented on #60
@Aniket-Engg Yes. This should work.

[2022-06-30 20:04] #106 closed, assigned to nobody

[2022-06-30 20:36] #97 closed, assigned to nobody

[2022-07-11 15:09] rodriguesnavil commented on #52
I had the same problem, the issue was with user packages not being discovered. The answer helped me resolve the issue
https://stackoverflow.com/a/62151306/5594598

[2022-07-27 09:38] montyly opened #113 "Store all binaries in https://github.com/crytic/solc"
We frequently have timeout in our CI (ex: https://github.com/crytic/slither/runs/7537262148?check_suite_focus=true) because when solc-select installs everything, it makes a lot of requests to `[binaries.soliditylang](https://binaries.soliditylang.org)`.

We could store all the binaries in https://github.com/crytic/solc, and when the user run `install all`
- Clone `crytic/solc`, and copy all the bi

[2022-08-11 18:24] k-g-j opened #114 "unclear solution to the SSL: CERTIFICATE_VERIFY_FAILED on running solc-select"
It is unclear from the README how to solve this issue.  If anyone has better documentation, please share.

[2022-08-11 18:35] elopez commented on #114
Hi! Could you expand on what your setup looks like (eg. which Python version are you using, on which platform, how did you install Python?) and what you would like to see in the README instead? Currently [the README](https://github.com/crytic/solc-select#ssl-certificate_verify_failed-on-running-solc-select-commands-investigation-ongoing) lists two commands that should resolve this problem on some

[2022-08-11 20:45] k-g-j commented on #114
Yes, thanks for the prompt response.  So I have python 3.0.10 and a MacM1 running Monteray 12.5.  I think that instead of directing people to stack overflow if they follow these quick steps it'll solve the issue directly.
1. In macOS just open Macintosh HD
2. Now Select Application
3. Then Select the Python folder (Python3.6, Python3.7 Whatever You are using just select this folder)
4. Then, doubl

[2022-08-21 06:28] ahoramazdaa opened #115 "`pip3 --version`"
`pip3 --version`

`pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.8)`

`curl -X GET -I https://binaries.soliditylang.org/linux-amd64/list.json`

[code]

`python3 -c 'import urllib.request; urllib.request.urlopen("https://binaries.soliditylang.org/linux-amd64/list.json")'`
[code]

_Originally posted by @Kindhearted57 in https://github.com/crytic/solc-select/issues/68#issuecomment-880343856

[2022-10-06 13:37] grp06 commented on #114
This worked for me, thank you

[2022-10-06 23:12] PatrickAlphaC commented on #47
Can we add this to the FAQ? For MacOS specifically?

[2022-10-07 08:08] montyly opened #117 "Better support for virtualenv"
Currently all the binaries are stored in the same folder, even if a user uses virtualenv. We should detect if we are running from a virtual env, and if its the case, use a different folder.

[2022-10-07 12:01] elopez commented on #117
I believe this has been implemented in https://github.com/crytic/solc-select/pull/86

[2022-10-09 22:55] montyly commented on #117
Mhh I see. I think the issue is that `pip install solc-select` is still installing 0.2.1, because 1.0 is still beta.

0.2.1 is from 2021, we should probably just do a release

[2022-10-10 18:04] 0xicingdeath opened #121 "Automated version tag and release bump"
see potential tools here: https://py-pkgs.org/07-releasing-versioning.html#automatic-version-bumping

creds @elopez

[2022-10-28 18:58] bohendo commented on #113
Foundation is in place via [PR#3](https://github.com/crytic/solc/pull/3) to crytic/solc. Still some work needed in solc-select to utilize the newly added solc binaries.

In the meantime, do we really need to `solc-select install all` before slither tests? Why not install only the versions that are actually used? No matter how much crytic/solc helps, slither ci will be much faster & stable if it do

[2022-11-07 03:27] rasyidred opened #125 "error installing pysha3"
error: subprocess-exited-with-error
× Running setup.py install for pysha3 did not run successfully.
  │ exit code: 1
  ╰─> [18 lines of output]
      running install
      C:\Users\Rasyid\AppData\Local\Programs\Python\Python311\Lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.

[2022-11-07 03:37] elopez commented on #125
It looks like this `pystrhex.h` header file that the `pysha3` dependency requires to build was removed in Python 3.11. You'll need to use Python 3.10 or earlier for the time being.

We have been wanting to remove the `pysha3` dependency across the crytic tools as the library is unmaintained, and this is a good reason to prioritize doing so, so I'm hoping this will not be an issue for long 👍

[2022-11-07 04:01] rasyidred commented on #125
Thank you for the information! I just downgraded to python 3.9, and I could install solc-select successfully. I hope it will be fixed soon so that the latest Python can work with the solc-select 👍

[2022-11-07 04:01] #125 closed, assigned to nobody

[2022-11-07 14:56] 0xalpharush opened #126 "switch to pycryptodome>=3.4.6"
need to update where sha3 is used like so https://github.com/crytic/slither/pull/1454/files#diff-fd7f207e6fab94ced516cf498bdb6baceaf962b1d4b45a19e677de771a4a662e

[2022-11-07 14:59] elopez commented on #126
This is needed for Python 3.11 support, see #125

[2022-11-11 15:16] #126 closed, assigned to nobody

[2022-11-11 15:43] #88 closed, assigned to nobody

[2022-11-16 09:27] rahulEth commented on #75
@simin98
use Python 3.8
then
git clone https://github.com/crytic/solc-select.git
cd solc-select
sudo python3 setup.py install

[2022-11-26 01:49] coderlrj opened #131 "solc -version"
After installed the solc-selecct by 'pip3 install solc-select', when I ran 'solc -version', there coming solc-select is out of date. Please run `solc-select upgrade‘. And when I ran 'solc-select upgrage', there coming 'solc-select is already up to date'

[2022-11-28 02:51] ashokdv commented on #131
Pip version?
Python Version?

[2022-11-28 08:55] coderlrj commented on #131
solc --version

[2022-11-30 16:23] adrime92 opened #132 "solc-select for ARM"
Is that on the roadmap??

[2022-11-30 16:44] elopez commented on #132
Hi @adrime92! solc-select uses the solc binaries released by the solidity compiler team. As far as I know, they do not offer ARM binaries yet.

Having said that, if you have an ARM Mac (with Rosetta) or an ARM linux (with x86 userspace emulation through QEMU+binfmt) solc-select should work already.